/* your css here */

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
	font-family: 'LINESeedKR-Bd', sans-serif;
}

.first-letter {
	font-family: 'LINESeedKR-Bd', serif, "Noto Serif Display";
	font-size: 4rem;
	float: left;
}

.content .blog-post-title {
    font-weight: 600 !important;
	font-size: 3rem;
}


ul li {
	margin-left: 0rem;
}

.nav li {
	font-size: 1.5rem;
    padding: 0 0rem 0 1rem;
}


.markdown.page-content {
	font-size: 1.0625rem;
	line-height: 2rem;
}

.markdown.blog-post-content {
	font-size: 1.0625;
	line-height: 2rem;
}

.recent-articles {
	margin-bottom: 0.8rem;
}

